#boxtree {
  padding: 20px;
}
#boxtree ul {
  list-style-type: none;
  margin-left: 40px;
}
#boxtree .tree > ul {
  padding: 0;
  margin: 20px 0 0 0;
}
#boxtree .tree > ul > li {
  margin-bottom: 5px;
}
#boxtree .tree > ul > li.active > ul {
  display: block;
}
#boxtree .tree > ul > li > ul {
  display: none;
}
#boxtree .tree > ul > li li {
  background-color: #ffffff;
}
#boxtree .tree > ul > li .parent,
#boxtree .tree > ul > li .child,
#boxtree .tree > ul > li .grandchild,
#boxtree .tree > ul > li .greatgrandchild {
  cursor: pointer;
  background-color: white;
  border: 1px solid #222222;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -ms-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
#boxtree .tree > ul > li .parent:hover,
#boxtree .tree > ul > li .child:hover,
#boxtree .tree > ul > li .grandchild:hover,
#boxtree .tree > ul > li .greatgrandchild:hover {
  background-color: #eeeeee;
}
#boxtree .tree > ul > li .child,
#boxtree .tree > ul > li .grandchild,
#boxtree .tree > ul > li .greatgrandchild {
  border-top: none;
  border-top-right-radius: 0;
}
#boxtree .tree > ul > li.active .parent {
  background-color: #cccccc;
  border-bottom-right-radius: 0;
}
#boxtree .tree > ul > li > ul > li.active > ul {
  display: block;
}
#boxtree .tree > ul > li > ul > li > ul {
  display: none;
}
#boxtree .tree > ul > li > ul > li:first-child .child,
#boxtree .tree > ul > li > ul > li:only-child .child,
#boxtree .tree > ul > li > ul > li:not(.active) .child {
  border-top-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li:not(:last-child) .child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li:last-child:not(.active) .child {
  border-bottom-color: 1px solid #222222;
}
#boxtree .tree > ul > li > ul > li.active .child {
  background-color: #dddddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}
#boxtree .tree > ul > li > ul > li.active + li .child {
  border-top: 1px solid #222222;
  border-top-left-radius: 5px;
}
#boxtree .tree > ul > li > ul > li:not(.active) + li.active .child {
  border-top-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li.active > ul > li:last-child .grandchild {
  border-bottom: none;
}
#boxtree .tree > ul > li > ul > li.active:last-child > ul > li:last-child .grandchild {
  border-bottom: 1px solid #222222;
}
#boxtree .tree > ul > li > ul > li.active:last-child > ul > li.active:last-child .grandchild {
  border-bottom: 1px solid #222222;
}
#boxtree .tree > ul > li > ul > li > ul > li.active > ul {
  display: block;
}
#boxtree .tree > ul > li > ul > li > ul > li > ul {
  display: none;
}
#boxtree .tree > ul > li > ul > li > ul > li:first-child .grandchild,
#boxtree .tree > ul > li > ul > li > ul > li:only-child .grandchild,
#boxtree .tree > ul > li > ul > li > ul > li:not(.active) .grandchild {
  border-top-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li > ul > li:not(:last-child) .grandchild {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li > ul > li.active:last-child .grandchild {
  border-bottom: 1px solid #222222;
}
#boxtree .tree > ul > li > ul > li > ul > li.active .grandchild {
  background-color: #eeeeee;
  border-bottom: 1px solid #222222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}
#boxtree .tree > ul > li > ul > li > ul > li.active + li .grandchild {
  border-top: 1px solid #222222;
  border-top-left-radius: 5px;
}
#boxtree .tree > ul > li > ul > li > ul > li:not(.active) + li.active .grandchild {
  border-top-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li > ul > li.active:not(:last-child) > ul > li:last-child .greatgrandchild {
  border-bottom: none;
}
#boxtree .tree > ul > li > ul > li > ul > li > ul > li:not(:last-child) .greatgrandchild {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#boxtree .tree > ul > li > ul > li > ul > li > ul > li:first-child .greatgrandchild,
#boxtree .tree > ul > li > ul > li > ul > li > ul > li:not(.active) .greatgrandchild {
  border-top-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li > ul > li > ul > li .greatgrandchild {
  border-radius: 0;
}
#boxtree .tree > ul > li > ul > li:not(:last-child) > ul > li:last-child .grandchild {
  border-bottom-right-radius: 0;
}
#boxtree .tree > ul > li > ul > li:not(:last-child) > ul > li:last-child > ul > li .greatgrandchild,
#boxtree .tree > ul > li > ul > li:last-child > ul > li:not(last-child) > ul > li .greatgrandchild {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child .greatgrandchild {
  border-radius: 0 0 5px 5px;
}
#boxtree .tree > ul > li > ul > li:not(:last-child) > ul > li:last-child:not(.active) .grandchild {
  border-bottom-left-radius: 0;
}
#boxtree .tree > ul > li > ul > li.active > ul > li:last-child > ul > li:last-child .greatgrandchild {
  border-bottom: none;
}
#boxtree .tree > ul > li > ul > li.active:last-child > ul > li:last-child > ul > li:last-child .greatgrandchild {
  border-bottom: 1px solid #222222;
}
#boxtree .tree > ul > li li:only-child .child,
#boxtree .tree > ul > li li:only-child .grandchild,
#boxtree .tree > ul > li li:only-child .greatgrandchild {
  border-top-left-radius: 0 !important;
}
#boxtree .tree > ul > li.active .parent.checked,
#boxtree .tree > ul > li .parent.checked {
  background-color: rgba(133, 184, 15, 0.5);
}
#boxtree .tree > ul > li.active .child.checked,
#boxtree .tree > ul > li .child.checked {
  background-color: rgba(133, 184, 15, 0.3);
}
#boxtree .tree > ul > li.active .grandchild.checked,
#boxtree .tree > ul > li .grandchild.checked {
  background-color: rgba(133, 184, 15, 0.2);
}
#boxtree .tree > ul > li.active .greatgrandchild.checked,
#boxtree .tree > ul > li .greatgrandchild.checked {
  background-color: rgba(133, 184, 15, 0.1);
}
#boxtree .tree > ul > li.active .parent.indeterminate,
#boxtree .tree > ul > li .parent.indeterminate {
  background-color: rgba(240, 164, 51, 0.5);
}
#boxtree .tree > ul > li.active .child.indeterminate,
#boxtree .tree > ul > li .child.indeterminate {
  background-color: rgba(240, 164, 51, 0.3);
}
#boxtree .tree > ul > li.active .grandchild.indeterminate,
#boxtree .tree > ul > li .grandchild.indeterminate {
  background-color: rgba(240, 164, 51, 0.2);
}
#boxtree .tree > ul > li.active .greatgrandchild.indeterminate,
#boxtree .tree > ul > li .greatgrandchild.indeterminate {
  background-color: rgba(240, 164, 51, 0.1);
}
#boxtree .tree > ul > li.active .parent.added,
#boxtree .tree > ul > li .parent.added {
  background-color: rgba(54, 175, 226, 0.5);
}
#boxtree .tree > ul > li.active .child.added,
#boxtree .tree > ul > li .child.added {
  background-color: rgba(54, 175, 226, 0.3);
}
#boxtree .tree > ul > li.active .grandchild.added,
#boxtree .tree > ul > li .grandchild.added {
  background-color: rgba(54, 175, 226, 0.2);
}
#boxtree .tree > ul > li.active .greatgrandchild.added,
#boxtree .tree > ul > li .greatgrandchild.added {
  background-color: rgba(54, 175, 226, 0.1);
}
#boxtree .tree .node {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
#boxtree .tree .node.checked {
  background-color: rgba(255, 255, 255, 0.5);
}
#boxtree .tree .node.added label {
  pointer-events: none;
}
#boxtree .tree .node.empty span {
  vertical-align: middle;
  color: #888888;
  padding-left: 10px;
  line-height: 26px;
}
#boxtree .tree label {
  display: inline-block;
  padding: 0 12px;
  text-align: center;
  border-right: 1px solid #222222;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#boxtree .tree label input[type="checkbox"] {
  margin-top: 12px;
}
#boxtree .tree label:hover {
  background-color: #666666;
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -ms-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
#boxtree .tree label + span {
  margin-left: 40px;
}
#boxtree .tree span {
  min-height: 38px;
  line-height: 28px;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#boxtree .tree i {
  position: absolute;
  right: 15px;
  top: 8px;
}
